@tailwind base;
@tailwind components;
@tailwind utilities;

:host,
:root {
    --purple-50: #f5f3ff;
    --purple-100: #e0e7ff;
    --purple-200: #a77bca;
    --purple-300: #6f2c91;
    --purple-400: #4b1f6d;
    --purple-500: #4b1f6d;
    --purple-600: #4b1f6d;
    --purple-700: #4b1f6d;
    --purple-800: #4b1f6d;
    --purple-900: #4b1f6d;
    --highlight: #ffc107;
    --background: var(--purple-50);
    --foreground: var(--purple-900);
}

@media (prefers-color-scheme: dark) {
    :host,
    :root {
        --purple-50: #4b1f6d;
        --purple-100: #4b1f6d;
        --purple-200: #4b1f6d;
        --purple-300: #4b1f6d;
        --purple-400: #4b1f6d;
        --purple-500: #4b1f6d;
        --purple-600: #6f2c91;
        --purple-700: #a77bca;
        --purple-800: #e0e7ff;
        --purple-900: #f5f3ff;
        --background: var(--purple-50);
        --foreground: var(--purple-900);
    }
}

#site-chattr,
body {
    color: var(--foreground);
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
